button {
  max-height: var(--button-height);
  min-height: var(--button-height-sm);
  border-radius: var(--border-radius);
  padding: 0.8em var(--spacing-xlg);
  /* padding-bottom: calc(var(--font-size-md) * 0.1); */
  border: none;
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--font-size-md);
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1rem;
  box-shadow: var(--box-shadow);
}

button[loading]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
}

button[loading]::after {
  content: '';
  position: absolute;
  width: var(--spinner-width);
  height: calc(var(--spinner-width) / 2);
  border: var(--spinner-thickness) solid var(--text);
  border-bottom: 0;
  border-top-right-radius: var(--spinner-width);
  border-top-left-radius: var(--spinner-width);
  margin-bottom: calc(var(--spinner-width) / 2);
}

button > i {
  margin-right: var(--spacing-xsm);
}

button::-moz-focus-inner {
  border: 0;
}

.btn-dropdown {
  background-color: transparent;
  color: var(--text);
  padding: 0em;
  height: auto;
  box-shadow: none;
}

.btn-dropdown:hover {
  color: var(--accent-primary);
}

.btn-option {
  background-color: var(--background);
  color: var(--text);
  border-radius: var(--border-radius-sm);
  width: 4em;
}

.btn-option:hover {
  filter: var(--brightness-filter);
}

body.light .btn-option:hover {
  filter: var(--brightness-filter-dark-hover);
}

.btn-option[selected] {
  background-color: var(--text);
  color: var(--background);
}

body.light .btn-option[selected] {
  color: var(--background-light);
}

.btn-option[selected]:hover,
body.light .btn-option[selected] {
  filter: none;
}


.btn-color {
  width: var(--button-height-md);
  height: var(--button-height-md);
  padding: 0;
  z-index: var(--z-index-color-button);
  box-shadow: var(--box-shadow);
}

.dialog-arrow[selected]::after {
  width: 0;
  height: 0;
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid var(--background-light);
  position: absolute;
  content: '';
  top: calc(50% - var(--arrow-size));
  left: calc(100% + var(--spacing-lg) * 1.5);
}

#theme-select.dialog-arrow[selected]::after {
  right: calc(-1 * (var(--spacing-md) + var(--arrow-size)));
  left: unset;
}

#theme-select.dialog-arrow[selected]:hover::after {
  /* The filter on the button changes the brightness of the arrow as well */
  filter: brightness(85%);
}

body.light #theme-select.dialog-arrow[selected]:hover::after {
  filter: none;
}

button[data-color="background"] {
  background: var(--background);
}

button[data-color="backgroundLight"] {
  background: var(--background-light);
}

button[data-color="text"] {
  background: var(--text);
}

button[data-color="foreground"] {
  background: var(--foreground);
}

button[data-color="accentPrimary"] {
  background: var(--accent-primary);
}

button[data-color="accentSecondary"] {
  background: var(--accent-secondary);
}

.btn-palette-color {
  height: var(--button-height-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--background);
  flex-basis: calc(50% - var(--spacing-xsm) + 1px);
  padding: 0;
  border: 2px solid transparent;
  transform: translateY(0px);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  transition-duration: var(--transition-time);
  transition-property: border-radius, border-color;
}

.btn-palette-color:hover {
  border-color: var(--text);
}

.btn-palette-color[selected] {
  border-color: var(--text);
  border-radius: 50%;
}

body.light .btn-palette-color {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}

.btn-dialog {
  border-radius: var(--border-radius-sm);
  background-color: transparent;
  border: none;
  color: var(--text);
  font-size: var(--font-size-md);
  padding: 0;
  height: var(--button-height-md);
  box-shadow: none;
}

.btn-dialog[selected] {
  color: var(--background);
  background-color: var(--accent-secondary);
}

body.light .btn-dialog[selected] {
  color: var(--text);
}

.btn-dialog[selected]:hover {
  background-color: var(--accent-secondary);
  opacity: 1;
}

.btn-dialog:hover {
 opacity: 0.8;
}

body.light .btn-dialog > i {
  filter: invert(100%);
}

.btn-dialog > i {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.btn-dialog[selected] > i {
  filter: invert(100%);
}

.btn-primary {
  background-color: var(--accent-primary);
  color: var(--background);
}

body.light .btn-primary {
  color: var(--text);
}

.btn-primary:hover {
  filter: var(--brightness-filter);
}

.btn-secondary {
  background-color: var(--background-light);
  color: var(--text);
}

.btn-secondary:hover {
  filter: var(--brightness-filter);
}

body.light .btn-secondary:hover {
  filter: none;
}

#colorpicker-custom, #colorpicker-undo {
  border-radius: var(--border-radius-sm);
  height: var(--button-height-sm);
}

body.light #colorpicker-custom {
  color: var(--background-light);
}

#colorpicker-custom:hover, #colorpicker-undo:hover {
  filter: brightness(85%);
}

#theme-select {
  width: 11.5em; /* Fixed width to prevent flickering when changing themes */
}

