button {
  height: 3.2em;
  border-radius: 15px;
  padding: 0em var(--spacing-xlg);
  border: none;
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--font-size-sm);
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button > i {
  margin-right: var(--spacing-xsm);
}

button::-moz-focus-inner {
  border: 0;
}

button[primary] {
  background-color: var(--accent-primary);
  color: var(--text);
}

button[primary]:hover {
  filter: var(--brightness-filter);
}

button[secondary] {
  background-color: var(--background-light);
  color: var(--text);
}

button[secondary]:hover {
  filter: var(--brightness-filter);
}

button[dropdown] {
  background-color: transparent;
  color: var(--text);
  padding: 0em;
  height: auto;
}

button[dropdown]:hover {
  color: var(--accent-primary);
}
