button {
  height: var(--button-height);
  border-radius: 15px;
  padding: 0em var(--spacing-xlg);
  border: none;
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--font-size-md);
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.05em;
  position: relative;
}

button > i {
  margin-right: var(--spacing-xsm);
}

button::-moz-focus-inner {
  border: 0;
}

button[type=primary] {
  background-color: var(--accent-primary);
  color: var(--text);
}

button[type=primary]:hover {
  filter: var(--brightness-filter);
}

button[type=secondary] {
  background-color: var(--background-light);
  color: var(--text);
}

button[type=secondary]:hover {
  filter: var(--brightness-filter);
}

button[type=dropdown] {
  background-color: transparent;
  color: var(--text);
  padding: 0em;
  height: auto;
}

button[type=dropdown]:hover {
  color: var(--accent-primary);
}

button[data-color] {
  width: var(--button-height-md);
  height: var(--button-height-md);
  border: 2px solid var(--text);
  border-radius: 50%;
  padding: 0;
  z-index: var(--z-index-color-button);
}

button[data-color][selected]::after {
  width: 0;
  height: 0;
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid var(--background-light);
  position: absolute;
  content: '';
  top: calc(50% - var(--arrow-size));
  left: calc(100% + var(--spacing-lg) * 1.9);
}

button[data-color="background"] {
  background: var(--background);
}

button[data-color="backgroundLight"] {
  background: var(--background-light);
}

button[data-color="text"] {
  background: var(--text);
}

button[data-color="foreground"] {
  background: var(--foreground);
}

button[data-color="accentPrimary"] {
  background: var(--accent-primary);
}

button[data-color="accentSecondary"] {
  background: var(--accent-secondary);
}

button[type=dialog] {
  background-color: transparent;
  color: white;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

button[type=colorpicker-color] {
  height: var(--button-height-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--background);
  flex-basis: calc(50% - var(--spacing-xsm) + 1px);
  padding: 0;
  border: 2px solid transparent;
  transform: translateY(0px);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

button[type=colorpicker-color]:hover {
  border-color: var(--text);
}

button[type=colorpicker-color][selected] {
  border-color: var(--text);
  box-shadow: -0px 0px 10px 10px rgba(0,0,0,0.2);
  transform: translateY(-1px);
}

#colorpicker-custom, #colorpicker-undo {
  border-radius: var(--border-radius-sm);
  height: var(--button-height-sm);
}

#colorpicker-custom:hover, #colorpicker-undo:hover {
  filter: brightness(85%);
}

#colorpicker-custom {
  background-color: var(--text);
}

#colorpicker-custom:hover {
  background-color: var(--text);
}

#colorpicker-undo {
  background-color: var(--accent-primary);
  color: white;
  margin-top: var(--spacing-sm);
}

#theme-select {
  width: 12em; /* Fixed width to prevent flickering when changing themes */
}

button[dialog] {
  border-radius: var(--border-radius-sm);
  background-color: transparent;
  border: none;
  color: white;
  font-size: var(--font-size-md);
  padding: 0;
  height: var(--button-height-md);
}

button[dialog][selected] {
  background-color: var(--accent-secondary);
}

button[dialog][selected]:hover {
  background-color: var(--accent-secondary);
  opacity: 1;
}

button[dialog]:hover {
 opacity: 0.8;
}

button[dialog] > i {
  transform: scale(0.8);
}
