.card {
  background-color: var(--background-light);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  position: relative;
  box-shadow: var(--box-shadow-card);
}

.card-header {
  padding: var(--spacing-md) var(--spacing-lg);
  box-sizing: border-box;
  transition: background-color var(--transition-time);
  border-radius: var(--border-radius);
}

.card-header:hover {
  background-color: rgba(255,255,255,0.1);
}

.card-header i {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.card-header i[icon=chevron] {
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
}

.card-title {
  font-size: var(--font-size-sm);
  font-weight: 900;
  text-transform: uppercase;
  margin: 0em;
}

.card-content {
  display: none;
  box-sizing: border-box;
  height: auto;
  padding: var(--spacing-lg) var(--spacing-lg);
  padding-top: var(--spacing);
}

.card[open] i[icon="chevron"] {
  rotate: 180deg;
}

.card[open] .card-content {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

body.light .card[open] .card-content {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card[open] .card-header:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card[open] #debugging-info {
  font-size: var(--font-size-md);
  padding: var(--spacing-sm) var(--spacing-lg);
}
