.card {
  background-color: var(--background-light);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  overflow: hidden;
}

.card-header {
  padding: var(--spacing) var(--spacing-lg);
  box-sizing: border-box;
  transition: background-color var(--transition-time);
}

.card-header:hover {
  background-color: rgba(255,255,255,0.1);
}

.card-header i {
  transform: scale(0.85);
}

.card-title {
  font-size: var(--font-size-md);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0em;
}

.card-content {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  height: 0;
  opacity: 0;
  padding: 0;
}

.card[open] i[icon="chevron"] {
  rotate: 180deg;
}

.card[open] .card-content {
  padding: var(--spacing-lg) var(--spacing-lg);
  opacity: 1;
  height: 100%;
}
