.dialog {
  position: absolute;
  top: 0;
  left: var(--dialog-offset);
  width: var(--dialog-width);
  background-color: var(--background-light);
  border-radius: var(--border-radius);
  padding: 0;
  display: none;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.dialog[open] {
  display: flex;
}

#colorpicker {
  padding: var(--spacing);
}

#colorpicker-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: var(--spacing-xsm);
  margin-bottom: var(--spacing-sm);
}
