.notification {
  display: none;
  background-color: var(--accent-secondary);
  padding: var(--spacing-lg);
  width: var(--content-width);
  position: fixed;
  bottom: var(--spacing-lg);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  z-index: var(--z-index-notification);
}

.notification[open] {
  display: flex;
}

.notification-title {
  font-weight: 900;
  display: flex;
}

.notification-content {
  font-weight: 700;
  margin-left: 0.3em;
}
