.setting {

}

.setting-title {
  font-weight: bold;
  font-size: var(--font-size-md);
  margin: 0;
}

.setting-description {
  font-weight: normal;
  font-size: var(--font-size-md);
  margin: 0;
  margin-top: var(--spacing-xxsm);
}
