.setting {
  padding: calc(var(--spacing-sm) * 0.8) var(--spacing-md);
  box-sizing: border-box;
  background-color: transparent;
  border-radius: var(--border-radius-sm);
}

.setting:hover,
.setting[selected]:not(.no-highlight) {
  background-color: var(--lighter-background);
}

body.light .setting:hover,
body.light .setting[selected]:not(.no-highlight) {
  box-shadow: var(--box-shadow);
}

.setting-title,
.setting-description {
  font-size: var(--font-size-md);
  color: var(--text-focus);
  margin: 0;
}

.setting-title {
  font-weight: bold;
}

.setting-description {
  color: var(--text);
  margin-top: var(--spacing-xxsm);
}

#colorpicker-custom-container {
  border: 2px solid var(--background);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: border var(--transition-time);
}

#colorpicker-custom-container[selected] {
  border-color: var(--text);
}

#colorpicker-custom-label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
}

#colorpicker-custom {
  opacity: 0;
}

#font-size-option,
#auto-time-interval-option {
  display: none;
}

body.auto #auto-time-interval-option,
#user-chrome-option[selected] + #font-size-option {
  display: flex;
}
