:root {
  --content-width: 900px;
  --border-radius: 15px;
  --font: 'Lato', sans-serif;
  --font-size: 0.95em;
  --font-size-sm: calc(var(--font-size) * 0.9);
  --font-size-lg: calc(var(--font-size) * 1.15);
  --font-size-md: calc(var(--font-size) * 0.92);
  --spacing: 1em;
  --spacing-sm: 0.65em;
  --spacing-md: 0.75em;
  --spacing-lg: 1.5em;
  --spacing-xl: 1.8em;
  --brightness-filter: brightness(120%);
  --box-shadow: 0px 2px 20px #0000007a;
}
