body {
  --font: sans-serif;
  --font-size-sm: 0.75rem;
  --font-size-md: 0.82rem;
  --font-size: 0.85rem;
  --font-size-lg: 1.08rem;

  --border-radius: 7px;
  --border-radius-sm: 3px;

  --spinner-width: 1em;
  --spinner-thickness: 0.2em;

  --spacing: 1em;
  --spacing-xxsm: 0.1em;
  --spacing-xsm: 0.3em;
  --spacing-sm: 0.65em;
  --spacing-md: 0.75em;
  --spacing-card: 1.2em;
  --spacing-lg: 1.5em;
  --spacing-xlg: 1.8em;

  --brightness-filter: brightness(120%);
  --brightness-filter-dark: brightness(90%);
  --brightness-filter-dark-hover: brightness(85%);
  --box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.2);
  --box-shadow-card: 2px 4px 10px #00000012;
  --box-shadow-highlight: 0px 2px 12px 3px rgba(0,0,0,0.4);
  --transition-time: 0.1s;

  --arrow-size: 1em;
  --button-height: 2.83em;
  --button-height-md: 2.7em;
  --button-height-sm: 2.4em;
  --icon-size-sm: 1.2em;
  --icon-size: 1.35em;
  --icon-size-lg: 1.7em;
  --content-width: 52em;
  --dialog-width: 7.2em;
  --dialog-offset: calc(var(--content-width) + var(--spacing-lg));

  --z-index-dialog: 50;
  --z-index-notification: 30;
  --z-index-color-button: 20;
  --z-index-header: 15;
  --z-index-overlay: 10;

  --lighter-background: rgba(255,255,255,0.1);
  --lighter-background-hover: rgba(255,255,255,0.2);
  --darker-background: rgba(0,0,0,0.2);

  --background: #252525;
  --background-light: #444444;
  --foreground: #ffffff;
  --accent-primary: #6cadff;
  --accent-secondary: #a1caff;
  --text: #ffffff;
}

body.light {
  --background: #EDEDF0;
  --background-light: #ffffff;
  --foreground: #333;
  --text: #252525;

  --lighter-background: rgba(0,0,0,0.015);
  --lighter-background-hover: rgba(0,0,0,0.03);
  --darker-background: var(--lighter-background);

  --box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --box-shadow-card: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
  --box-shadow-highlight: var(--box-shadow);
}
