@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    :root {
	--background: <background>;
	--foreground: <foreground>;
	--background-light: <background-light>;
	--background-dark: <background-dark>;
    }    

    body {
        background: var(--background-dark) !important;
        --newtab-element-hover-color: var(--foreground) !important;
  	--newtab-card-active-outline-color: var(--foreground) !important;
	--newtab-contextmenu-button-color: var(--foreground) !important;
    	--newtab-icon-primary-color: var(--background-dark) !important;
    	--newtab-border-primary-color: var(--foreground) !important;
    }

    .collapsible-section .section-top-bar .context-menu-button {
	display: none !important;
    }

    .top-site-outer .default-icon[data-fallback]::before, .top-site-outer .search-topsite[data-fallback]::before {
	font-weight: bold !important;
	font-size: 0.9em !important;
    }

    .search-wrapper input {
	padding-left: 60px !important;
	box-shadow: none !important;
        background: var(--background-dark) var(--newtab-search-icon) 12px center no-repeat !important;
    }
    .collapsible-section .section-title span {
        fill: var(--foreground) !important;
        color: var(--foreground) !important;
    }
    .top-site-outer .default-icon, .top-site-outer .search-topsite {
        color: var(--foreground) !important;
        background-color: var(--background-light) !important;
    }
    .top-site-outer .title .icon {
        fill: var(--foreground) !important;
    }
    .compact-cards .card-outer .card-details {
        color: var(--foreground) !important;
    }
    .card-outer .card-host-name {
        color: var(--foreground) !important;
    }
    .card-outer .card {
        background: var(--background-light) !important;
    	border-radius: 0px !important;
    }
    .compact-cards .card-outer .card-context {
        background: var(--background-light) !important;
    }
    .search-wrapper input {
        color: var(--foreground) !important;
    }
    .search-wrapper .search-button {
        fill: var(--foreground) !important;
    }
    .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) {
        box-shadow: 0 0 0 5px var(--foreground) !important;
    }
    .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) .context-menu-button {
        background-color: var(--foreground) !important;
        fill: var(--background-dark) !important;
    }
    .compact-cards .card-outer .card-context .card-context-icon {
	fill: var(--foreground) !important;
    }

    .outer-wrapper a {
	color: var(--foreground) !important;
    }

    .top-site-outer .default-icon, .top-site-outer .search-topsite {
	border-radius: 50px !important;
	font-size: 14px !important;
     }

     .top-site-outer:hover .search-topsite {
     	background-size: 12px !important;
     }

    .top-site-outer .search-topsite {
	background-size: 12px !important;
	color: var(--foreground) !important;
    }

    .card-outer .context-menu-button {
	background: var(--foreground) !important;
	border-color: var(--foreground) !important;
	fill: var(--background-dark) !important;
    }
}
