#main-window {
    font-size: 0.85em !important;
    /* We decided that we wanted a bit lighter color as background
       and wal simply doesn't have anything we thought looked good, so we used colorpicker.py to generate
       a new one and insert it here. */
    /* --background: var(--background-main); */
    /* --panel-separator-color: var(--background) !important; */
    /* --autocomplete-popup-background: var(--background) !important; */
    /* --autocomplete-popup-color: var(--foreground) !important; */
    /* --autocomplete-popup-border-color: var(--background) !important; */
    /* --autocomplete-popup-highlight-background: var(--foreground) !important; */
    /* --autocomplete-popup-highlight-color: var(--background) !important; */
    /* --arrowpanel-border-color: var(--background) !important; */
    /* --toolbar-non-lwt-bgcolor: var(--background) !important; */
    /* --toolbar-field-focus-border-color: var(--foreground) !important; */
    /* --arrowpanel-dimmed: var(--background) !important; */
    /* --toolbar-non-lwt-bgcolor: var(--background) !important; */
    /* --toolbar-non-lwt-textcolor: var(--foreground) !important; */
    /* --toolbar-non-lwt-bgcolor: var(--background) !important; */
    /* --toolbar-non-lwt-textcolor: var(--foreground) !important; */
    /* --toolbar-non-lwt-bgimage: none !important; */
}

#urlbar-input-container {
    font-size: 1em !important;
}

#downloadsPanel, #widget-overflow, #appMenu-popup, #customizationui-widget-panel {
    margin-top: -7px;
}

.tabbrowser-tab {
    font-weight: bold !important;
    font-size: 0.85em !important;
}

.tabbrowser-tab:not([visuallyselected="true"]) {
    opacity: 0.8 !important;
}

.tabbrowser-tab::before,.tabbrowser-tab::after{
    display: none !important;
}

/* The buttons inside the urlbar */
#page-action-buttons {
    opacity: 0.5 !important;
}

/* The border inside the urlbar between some of the action buttons */
#page-action-buttons > :not([hidden]):not(toolbartabstop) ~ #pageActionSeparator {
    margin: 0px !important;
    visibility: hidden !important;
}

/* Search autocomplete suggestions */
#PopupAutoCompleteRichResult .autocomplete-richlistitem {
    font-size: 0.9em !important;
}

/* Colors of the bookmarks and overflow menu icon  */
toolbar[overflowable] > .customization-target {
    font-weight: bold !important;
    font-size: 0.85em !important;
}

#sidebar-header {
    border-bottom: 0px !important;
    font-weight: bold !important;
}

.sidebar-splitter {
    width: 0px !important;
    border: 0px !important;
}

textbox {
    -moz-appearance: none !important;
    font-weight: bold !important;
}

.findbar-container {
    font-weight: bold !important;
    font-size: smaller !important;
}

panelmultiview {
    font-size: smaller !important;
}

button {
    -moz-appearance: none !important;
}

panelview {
    font-weight: bold !important;
}

#urlbar, .searchbar-textbox {
    box-shadow: none !important;
}
