:root {
    --transition-time: 0s;
    --border-radius: 3px;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    --header-height: 3.5em;
    --content-width: 32em;
}

header {
    z-index: 99;
    top: 0px;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--background-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 1em;
    color: var(--foreground);
    margin: 10px 10px;
}

#banner {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    background-color: var(--foreground);
    color: transparent;
    height: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.05em;
    transition: height 0.1s, color 0.2s;
}

#banner.show {
    height: 50px;
    color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: var(--content-width);
    margin-top: var(--header-height);
    margin-bottom: 5em;
}

label {
    font-family: sans-serif;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1em;
    padding-left: 2px;
    margin-bottom: 5px;
}

input {
    height: 20px;
    background-color: transparent;
    border: none;
}

.spacer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 15px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 0.9em;
}

.margin-right {
    margin-right: 1em;
}

.align-left {
    justify-content: flex-end;
}

.container {
    width: 100%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    padding-left: 2px;
    box-sizing: border-box;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-weight: bold;
    color: var(--text-color);
    font-size: 0.8em;
}

.description > span {
    color: var(--text-color);
    font-weight: normal;
}

.description.description-dark {
    color: var(--background);
}

.description.description-dark > span {
    color: var(--background-light);
}

.btn {
    flex: 1;
    border-radius: var(--border-radius);
    border: none;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 0px;
    padding: 0.7em 0.9em;
    background-color: var(--accent-primary);
    color: var(--text-color);
    outline: none;
    transition: color var(--transition-time), background-color var(--transition-time);
    cursor: pointer;
}

.btn:hover {
    color: var(--background);
    background-color: var(--foreground);
}

.btn::-moz-focus-inner {
  border: 0;
}

.btn:nth-of-type(2n-1) {
    margin-right: 5px;
}

.toggle {
    flex: 0;
    width: 50px;
    background-color: var(--background-light);
}

.toggle:hover {
    opacity: 0.8;
    background-color: var(--background-light);
    color: var(--foreground);
}

.toggle.enabled {
    background-color: var(--foreground);
}

.toggle.enabled:hover {
    opacity: 0.8;
    background-color: var(--foreground);
    color: var(--background);
}

#output {
    font-family: monospace;
    padding: 10px;
    width: 100%;
    min-width: var(--content-width);
    height: 150px;
    background: var(--background-light);
    color: var(--text-color);
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.85em;
    border-radius: var(--border-radius);
}

#buttons {
    width: var(--content-width);
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--background-light);
}

.expand {
    flex: 1;
}

.no-bottom-border {
    border-bottom: none;
}

.enabled {
    background-color: var(--foreground);
    color: var(--background);
}

#modal-container {
    position: fixed;
    z-index: 50;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    display: none;
}

#overlay {
    background-color: var(--background-light);
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.modal {
    display: flex;
    width: var(--content-width);
    height: auto;
    background-color: var(--background-light);
    z-index: 2;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 20px 10px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    padding: 1.3em 1.8em;
}

.modal > h4 {
    font-size: 0.95em;
    color: var(--text-color);
    margin: 0px;
}

.modal-buttons {
    margin-top: 0.8em;
    justify-content: flex-end;
}

.modal-content {
    flex: 1;
    width: 100%;
    padding-top: 1.5em;
}

.modal-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.colorpicker-container {
    position: relative;
    margin: 1em;
    margin-top: 3px;
}

#cp-modal-colorpicker {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 10px 2px #00000010;
    cursor: pointer;
    border: 2px solid white;
}

#cp-modal-colorpicker::-moz-focus-inner {
    border: none !important;
}

#cp-modal-colorpicker::-moz-color-swatch {
    border: none !important;
}

.colorpicker-label {
    color: var(--foreground);
    font-weight: bold;
    font-size: 0.75em;
    padding: 0px;
    margin: 0px;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 0px;
    color:white;
    background-color:rgba(0,0,0,0.3);
    width: 100px;
    height: 100px;
    margin: 0px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-time);
}

.colorpicker-container:hover > .colorpicker-label {
    opacity: 1;
}

.modal-button {
    background-color: var(--background);
    flex: 0;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 65px;
}

.modal-button:hover {
    background-color: var(--background);
    color: var(--text-color);
    opacity: 0.8;
}

.modal-button-invert {
    background-color: var(--foreground);
    color: var(--background);
}

.modal-button-invert:hover {
    background-color: var(--foreground);
    color: var(--background);
    opacity: 0.8;
}

.cp-modal-open {
    min-width: 30px;
    height: 30px;
    flex: 0;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 2px;
    background-color: var(--background);
    cursor: pointer;
}

.cp-modal-open::-moz-focus-inner {
    border: none !important;
}

.pywal-colorscheme {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.pywal-color {
    flex: 1;
    flex-basis: calc(16.5% - 0.4em);
    border: none;
    height: 30px;
    max-width: calc(16.5% - 0.4em);
    margin: 0.2em;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: 0px 1px 5px #0000003b;
}

.pywal-color::-moz-focus-inner {
    border: none !important;
}

.pywal-color:hover {
    border: 2px solid white;
}

