:root {
    --transition-time: 0s;
    --border-radius: 3px;
    --arrow-size: 12px;
    --small-arrow-size: 6px;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    --header-height: 3.5em;
    --content-width: 35em;
}

header {
    z-index: 200;
    top: 0px;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--background-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 1em;
    color: var(--foreground);
    margin: 10px 10px;
}

#banner {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    background-color: var(--foreground);
    color: transparent;
    height: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.05em;
    transition: height 0.1s, color 0.2s;
}

#banner.show {
    height: 50px;
    color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: var(--content-width);
    margin-top: var(--header-height);
    margin-bottom: 5em;
    justify-content: flex-start;
    align-items: flex-start;
}

label {
    font-family: sans-serif;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1em;
    padding-left: 2px;
    margin-bottom: 5px;
}

.spacer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 15px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 0.95em;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--background-light);
}

.container {
    width: 100%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    padding-left: 2px;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-weight: bold;
    color: var(--text-color);
    font-size: 0.85em;
}

.description > span {
    color: var(--text-color);
    font-weight: normal;
}

.btn {
    height: 33px;
    border-radius: var(--border-radius);
    border: none;
    font-size: 0.85em;
    font-weight: bold;
    margin-right: 0px;
    padding: 0.7em 0.9em;
    outline: none;
    position: relative;
    background-color: transparent;
    color: var(--text-color);
    transition: color var(--transition-time), background-color var(--transition-time);
    cursor: pointer;
}

.btn.primary {
    flex: 1;
    background-color: var(--accent-primary);
    color: var(--text-color);
}

.btn.primary:hover {
    color: var(--background);
    background-color: var(--foreground);
}

.btn.toggle {
    width: 50px;
    background-color: var(--background-light);
    color: var(--text-color);
}

.btn.toggle:hover {
    opacity: 0.8;
    background-color: var(--background-light);
    color: var(--foreground);
}

.btn.toggle.enabled {
    background-color: var(--foreground);
}

.btn.toggle.enabled:hover {
    background-color: var(--foreground);
    color: var(--background);
}

.btn.toggle.enabled {
    background-color: var(--foreground);
    color: var(--background);
}

.btn.dialog-btn {
    flex: 1;
    background-color: transparent;
    color: var(--text-color);
    margin: 0px !important;
}

.btn.dialog-btn:hover {
    background-color: transparent;
    color: var(--text-color);
    opacity: 0.8;
}

.btn.expander {
    padding: 1em 0.2em;
    margin-bottom: 0.5em;
}

.btn.expander::after {
    width: 0;
    height: 0;
    border-bottom: var(--small-arrow-size) solid transparent;
    border-left: var(--small-arrow-size) solid var(--text-color);
    border-top: var(--small-arrow-size) solid transparent;
    position: absolute;
    content: '';
    bottom: 0.5em;
    right: -1.2em;
}

.output-open .btn.expander::after {
    width: 0;
    height: 0;
    border-right: var(--small-arrow-size) solid transparent;
    border-top: var(--small-arrow-size) solid var(--text-color);
    border-left: var(--small-arrow-size) solid transparent;
    position: absolute;
    content: '';
    bottom: 0.2em;
    right: -1.5em;
}

.btn::-moz-focus-inner,
.pywal-color::-moz-focus-inner,
.colorpicker-dialog-open::-moz-focus-inner,
#colorpicker-dialog-input::-moz-color-swatch {
    border: 0;
}

#output {
    font-family: monospace;
    padding: 10px;
    width: 100%;
    min-width: var(--content-width);
    height: 150px;
    background: var(--background-light);
    color: var(--text-color);
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.85em;
    border-radius: var(--border-radius);
    display: none;
}

.output-open #output {
    display: flex;
}

#buttons {
    width: var(--content-width);
}

#overlay {
    background-color: var(--background-light);
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0;
    z-index: 25;
    cursor: pointer;
    display: none;
    flex-direction: row;
    justify-content: center;
    left: 0px;
    top: var(--header-height);
    padding-top: 1.5em;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.colorpicker-dialog-open {
    min-width: 30px;
    height: 30px;
    flex: 0;
    z-index: 30;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 2px;
    background-color: var(--background);
    cursor: pointer;
    position: relative;
}

.colorpicker-dialog-open.selected::after {
    width: 0;
    height: 0;
    border-top: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid var(--background-light);
    position: absolute;
    content: '';
    top: 0px;
    right: -20px;
}

#colorpicker-dialog {
    position: absolute;
    background-color: var(--background-light);
    width: 100px;
    height: 100%;
    border-radius: var(--border-radius);
    right: -115px;
    display: none;
    flex-direction: column;
    padding: 0.8em;
    box-sizing: border-box;
    z-index: 100;
}

.color-preview-grid {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pywal-color {
    flex: 1;
    flex-basis: calc(50% - 0.4em);
    max-width: calc(50% - 0.4em);
    border: none;
    height: 25px;
    margin: 0.2em;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: 0px 1px 5px #0000003b;
    border: 2px solid transparent;
}

.pywal-color:hover {
    border: 2px solid white;
}

#colorpicker-dialog-input-container {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    border: 2px solid transparent;
    border-radius: calc(var(--border-radius)*1.5);
    overflow: hidden;
    height: 33px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0.2em;
    background-color: var(--foreground);
}

#colorpicker-dialog-input-container:hover {
    opacity: 0.8;
}

#colorpicker-dialog-input-container.selected,
.pywal-color.selected {
    border: 2px solid white;
}

#colorpicker-dialog-input {
    flex: 1;
    height: 100%;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    cursor: pointer;
}

#colorpicker-dialog-input-label {
    position: absolute;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    z-index: 100;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: var(--background);
}

.expand {
    flex: 1;
    width: 100%;
}

.no-bottom-border {
    border-bottom: none;
}

.margin-right {
    margin-right: 1em;
}

.margin-right-sm {
    margin-right: 0.4em;
}

.align-left {
    justify-content: flex-end;
}
