:root {
    --transition-time: 0s;
    --border-radius: 3px;
    --arrow-size: 12px;
    --small-arrow-size: 6px;
    --box-shadow: 0px 1px 5px #0000003b;
    --margin: 1em;
    --margin-sm: 0.5em;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    width: 100%;
    font-family: sans-serif;
    font-size: 0.98rem;
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    --header-height: 3.5em;
    --content-width: 45em;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    z-index: 200;
    top: 0px;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--background-light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 0.95em;
    color: var(--foreground);
    margin: 0px;
}

label {
    font-family: sans-serif;
    color: var(--accent-primary);
    font-weight: bold;
    font-size: 0.9em;
    padding-left: 2px;
    margin-bottom: 5px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: var(--content-width);
    margin-top: var(--header-height);
    margin-bottom: 5em;
    justify-content: flex-start;
    align-items: flex-start;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--background-light);
}

.container {
    width: 100%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    padding-left: 2px;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#buttons {
    width: var(--content-width);
}

.description {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-weight: bold;
    color: var(--text-color);
    font-size: 0.85em;
}

.description > span {
    color: var(--text-color);
    font-weight: normal;
    letter-spacing: 0.03em;
}

.btn {
    height: 33px;
    border-radius: var(--border-radius);
    border: none;
    font-size: 0.85em;
    font-weight: bold;
    margin-right: 0px;
    padding: 0.7em 0.9em;
    outline: none;
    position: relative;
    background-color: transparent;
    color: var(--text-color);
    transition: color var(--transition-time), background-color var(--transition-time);
    cursor: pointer;
}

.btn.primary {
    flex: 1;
    background-color: var(--accent-primary);
    color: var(--text-color);
}

.btn.primary:hover {
    color: var(--background);
    background-color: var(--foreground);
}

.btn.toggle {
    width: 50px;
    background-color: var(--background-light);
    color: var(--text-color);
}

.btn.toggle:hover {
    opacity: 0.8;
    background-color: var(--background-light);
    color: var(--foreground);
}

.btn.toggle.enabled {
    background-color: var(--foreground);
}

.btn.toggle.enabled:hover {
    background-color: var(--foreground);
    color: var(--background);
}

.btn.toggle.enabled {
    background-color: var(--foreground);
    color: var(--background);
}

.btn.dialog-btn {
    flex: 1;
    background-color: transparent;
    color: var(--text-color);
    margin: 0px !important;
}

.btn.dialog-btn:hover {
    background-color: transparent;
    color: var(--text-color);
    opacity: 0.8;
}

.btn.expander {
    padding: 1em 0.2em;
    margin-bottom: 0.5em;
}

.btn.expander::after {
    width: 0;
    height: 0;
    border-bottom: var(--small-arrow-size) solid transparent;
    border-left: var(--small-arrow-size) solid var(--text-color);
    border-top: var(--small-arrow-size) solid transparent;
    position: absolute;
    content: '';
    bottom: 0.5em;
    right: -1.2em;
}

.btn.edit {
    background-color: var(--background-light);
    flex: 1;
}

.btn.edit:hover {
    opacity: 0.8;
}

.btn::-moz-focus-inner {
    border: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.spacer {
    flex: 1;
    max-width: var(--content-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 15px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 0.95em;
}

.expand {
    flex: 1;
    width: 100%;
}

.no-bottom-border {
    border-bottom: none;
}

.border-bottom {
    border-bottom: 1px solid var(--background-light);
}

.margin-top {
    margin-top: var(--margin);
}

.margin-top-sm {
    margin-top: var(--margin-sm);
}

.margin-bottom {
    margin-bottom: var(--margin);
}

.margin-bottom-sm {
    margin-bottom: var(--margin-sm);
}

.margin-right {
    margin-right: var(--margin);
}

.margin-right-sm {
    margin-right: var(--margin-sm);
}

.margin-left {
    margin-left: var(--margin);
}

.margin-left-sm {
    margin-left: var(--margin-sm);
}

.align-right {
    justify-content: flex-end;
}
