@import url('common.css');

.palette-container {
  height: 200px;
  width: 100%;
  background: var(--background-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.08);
  margin-top: var(--header-height);
}

main {
  margin-top: var(--margin);
}

.header-container {
  width: var(--content-width);
  flex: 1;
  justify-content: center;
}

.palette {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.palette-row {
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
}

.palette-row.label-bottom > .palette-color {
  flex-direction: column-reverse;
}

.palette-color {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-color > label {
  font-weight: bold;
  margin-bottom: var(--margin-sm);
  color: var(--foreground);
}

.palette-row.label-bottom > .palette-color > label {
  margin-bottom: 0em;
  margin-top: var(--margin-sm);
}

.palette-color-preview {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.template-color {
  margin-top: 0.3em;
  width: 4.5em;
  height: 2.5em;
  background-color: var(--background-light);
  border-radius: var(--border-radius);
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
}
