/* Makes all scrollbars thin and less noticeable, however, this doesn't remove them completely. */
html {
    scrollbar-width: thin !important;
}

#main-window {
    --font-size: 0.85em !important;
    font-size: var(--font-size) !important;
    --background: var(--lwt-accent-color);
    --foreground: var(--arrowpanel-color);
    --accent-primary: var(--lwt-toolbar-field-highlight);
}

.toolbarbutton-text, .tab-label {
    font-size: var(--font-size) !important;
}

/* Remove underline from container tabs */
.tabbrowser-tab[usercontextid] .tab-bottom-line {
    display: none !important;
}

/* Tab context menu */
.arrowscrollbox-scrollbox {
    background: var(--background) !important;
    color: var(--foreground) !important;
}

/* History right click context menu */
.popup-internal-box {
    background: var(--background) !important;
    color: var(--foreground) !important;
}

#urlbar-input-container {
    font-size: calc(var(--font-size) * 1.15) !important;
}

#downloadsPanel, #widget-overflow, #appMenu-popup, #customizationui-widget-panel {
    margin-top: -7px;
}

.tabbrowser-tab {
    font-weight: bold !important;
    font-size: var(--font-size) !important;
}

.tabbrowser-tab:not([visuallyselected="true"]) {
    opacity: 0.8 !important;
}

.tabbrowser-tab::before,.tabbrowser-tab::after{
    display: none !important;
}

/* The buttons inside the urlbar */
#page-action-buttons {
    opacity: 0.5 !important;
}

/* The border inside the urlbar between some of the action buttons */
#page-action-buttons > :not([hidden]):not(toolbartabstop) ~ #pageActionSeparator {
    margin: 0px !important;
    visibility: hidden !important;
}

/* Search autocomplete suggestions */
#PopupAutoCompleteRichResult .autocomplete-richlistitem {
    font-size: calc(var(--font-size) * 1.05) !important;
}

/* Colors of the bookmarks and overflow menu icon  */
toolbar[overflowable] > .customization-target {
    font-weight: bold !important;
    font-size: var(--font-size) !important;
}

#sidebar-header {
    border-bottom: 0px !important;
    font-weight: bold !important;
}

.sidebar-splitter {
    width: 0px !important;
    border: 0px !important;
}

textbox {
    -moz-appearance: none !important;
    font-weight: bold !important;
}

.findbar-container {
    font-weight: bold !important;
    font-size: smaller !important;
}

panelmultiview {
    font-size: smaller !important;
}

button {
    -moz-appearance: none !important;
}

panelview {
    background: var(--background) !important;
    color: var(--foreground) !important;
    font-weight: bold !important;
}

#urlbar, .searchbar-textbox {
    box-shadow: none !important;
}

/* Hover on buttons in dropdown menus */
panelview .toolbarbutton-1:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus),
toolbarbutton.subviewbutton:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus),
.navigable.subviewbutton:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus),
menu.subviewbutton:not(:-moz-any([disabled], :active))[_moz-menuactive],
menuitem.subviewbutton:not(:-moz-any([disabled], :active))[_moz-menuactive],
.widget-overflow-list .toolbarbutton-1:not(:-moz-any([disabled], [open],
:active)):-moz-any(:hover, :focus),
.toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]),
[overflowedItem="true"]) > toolbarbutton:not(:-moz-any([disabled], [open],
:active)):-moz-any(:hover, :focus) {
    color: var(--background) !important;
    background-color: var(--foreground) !important;
}

.bookmark-item {
    fill: var(--accent-primary) !important;
}

.menu-text, .menu-iconic-left, .menu-iconic-text {
    font-size: calc(var(--font-size) * 1.05);
    color: white !important;
}

/* Remove the top border when hovering over a tab */
#TabsToolbar[brighttext] .tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected="true"]):not([multiselected]) {
    display: none !important;
}

