html {
  scrollbar-width: none !important;
}

@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    .top-site-outer .title span {
        font-weight: bold !important;
        font-size: 0.8em !important;
     }

    .collapsible-section .section-top-bar .context-menu-button {
	    display: none !important;
    }

    .top-site-outer .default-icon[data-fallback]::before, .top-site-outer .search-topsite[data-fallback]::before {
        font-weight: bold !important;
        font-size: 0.9em !important;
    }

    .search-wrapper input {
	    padding-left: 60px !important;
	    box-shadow: none !important;
    }

    .card-outer > a {
        overflow: hidden !important;
    }

    .top-site-outer .default-icon, .top-site-outer .search-topsite {
        font-size: 14px !important;
     }

     .top-site-outer:hover .search-topsite {
     	background-size: 12px !important;
     }

    .top-site-outer .search-topsite {
        background-size: 12px !important;
    }

    .context-menu > ul > li > a {
        font-weight: bold !important;
        font-size: 0.8em !important;
    }

    #newtab-search-text {
        background-color: var(--background-light);
    }
}

